.title-search-details-product {
    font: var(--subtitles-32bold);
    color: var(--text);
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.list-filter-details-product {
    font: var(--body-16regular);
    color: var(--black);
    margin-block-end: 16px;
}

.list-filter-details-product span {
    color: var(--text);
}

.list-filter-details-product span::before {
    content: '|';
}

.all-details-product {
    background: var(--white);
    padding-inline: 16px;
    padding-block: 16px;
}

.image-details-product {
    text-align: center;
}

.image-details {
    block-size: 194px;
    inline-size: 280px;
}

.circle {
    border-radius: 50%;
    block-size: 11.2px;
    inline-size: 11.2px;
    background: var(--text);
    display: inline-block;
}

.description-product {
    font: var(--body-16regular);
    color: var(--black);
    margin-block-start: 0;
    margin-block-end: 16px;
}

.circle-bg-grey {
    background: var(--linerbg);
}

.options-product-details-product {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.characteristics-title,
.comments-title {
    font: var(--subtitles-22bold);
    color: var(--text);
    margin-block-start: 48px;
    margin-block-end: 24px;
}

.characteristics-list {
    font: var(--body-18regular);
    color: var(--black);
}

.writer-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    /* justify-content: center; */
    gap: 8px;
}

.author-img {
    block-size: 48px;
    inline-size: 48px;
    border-radius: 50%;
    /* border: 1px solid red; */
}

.author-name {
    font: var(--body-18semibold);
    color: var(--black);
    margin: 0;
}

.comment-writer-article {
    font: var(--body-16regular);
    color: var(--black);
    margin-block-start: 8px;
    margin-block-end: 24px;
}

@media screen and (min-width:1000px) {
    .all-details-product {
        padding-inline: 24px;
        padding-block: 24px;
    }
    .content-details-product {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
    .information-details-product {
        inline-size: 592px;
    }
    .options-product-details-product {
        flex-direction: row;
    }
    .characteristics-content {
        display: flex;
        flex-direction: row;
        gap: 64px;
    }
}