header {
    background-color: var(--white);
    overflow: hidden;
    block-size: 72px;
    box-sizing: border-box;
}

.section-header {
    /* border: 1px solid green; */
    display: flex;
    /* Safari */
    display: -webkit-flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.section-search {
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: row;
    gap: 0;
}

.input-search {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    inline-size: 197px;
    block-size: 40px;
    border: 2px solid var(--subtextcolor);
    padding-inline: 5px;
}

.input-search:focus {
    outline: none
}

.button-search {
    border: none;
    background: var(--primary);
    color: var(--white);
    inline-size: 51px;
    block-size: 40px;
    padding: 0;
    margin: 0;
}

.section-nav {
    /* border: 1px solid blue; */
    order: 2;
    -webkit-order: 2;
}

.section-nav-options {
    list-style: none;
    font: var(--body-18regular);
    color: var(--text);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
    /* gap: 1rem; */
    align-items: center;
}

.menu-section-nav-options {
    list-style: none;
    font: var(--body-18regular);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
    gap: 40px;
    padding: 0;
}

.li-visibility {
    display: none;
}

.menu-icon {
    cursor: pointer;
}

.menu-view {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    color: white;
    /* border: 2px solid royalblue; */
    transform: translateX(100%);
    padding-inline: 16px;
    padding-block: 16px;
}

.menu-view[aria-selected='true'] {
    transform: translateX(0);
    top: 0;
    position: absolute;
}

.menu-close-option {
    text-align: right;
    cursor: pointer;
    display: block;
    /* border: 1px solid red; */
}

@media screen and (min-width:768px) {
    header {
        /* border: 3px solid red; */
        block-size: 96px;
    }
    .li-visibility {
        display: block;
    }
    .section-nav {
        /* border: 1px solid blue; */
        order: 0;
        -webkit-order: 0;
    }
    .li-menu-view {
        display: none;
    }
    .input-search {
        inline-size: 251px;
    }
}

@media screen and (min-width:1024px) {
    .section-nav-options {
        gap: 48px;
    }
    .input-search {
        inline-size: 392px;
    }
}

@media screen and (min-width:1366px) {
    .input-search {
        inline-size: 692px;
    }
}