@import url('./header.css');
@import url('./banner.css');
@import url('./content-product.css');
:root {
    --bgshade: #eeeffb;
    --greytext: #151875;
    --grey: #B2B2B2;
    --primary: #fb2e86;
    --white: #ffffff;
    --banner-bg: #4853C2;
    --linerbg: linear-gradient(32deg, #f3f9ff 0%, #f1f0ff 100%);
    --mintgreengradiant: linear-gradient(42deg, #36e6d5 0%, #29e871 100%);
    --text: #151875;
    --red: #fb2448;
    --subtextcolor_gradient: linear-gradient(32deg, #f3f9ff 0%, #f1f0ff 100%);
    --subtextcolor: #8a8fb9;
    --bg: #ebebeb;
    --black: #111111;
    --subtitles-14bold: 700 0.875rem/1.10rem Inter;
    --subtitles-22bold: 700 1.375rem/normal Inter;
    --subtitles-32bold: 700 2rem/2.5rem Inter;
    --body-10regular_u: 400 0.625rem/0.790 Inter;
    --body-18regular: 400 1.125rem/2rem Inter;
    --body-18regular_u: 400 1.125rem/2rem Inter;
    --body-16regular: 400 1rem/1.5rem Inter;
    --body-18semibold: semi bold 1.125rem/2rem Inter;
}

body {
    color: var(--primary);
    background-color: var(--bgshade);
    font: var(--subtitles-22bold);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper {
    /* border: 2px solid red; */
    padding-inline: 16px;
    padding-block: 16px;
    /* display: block; */
    margin: 0 auto;
}

@media screen and (min-width:1366px) {
    .container {
        width: 1366px;
        margin: 0 auto;
    }
}